@* Components/AttributeHeaders.razor *@
<div class="attribute-headers">
    <div class="header-cell">Vehicle</div>
    <div class="header-cell">Nation</div>
    <div class="header-cell">Vehicle type</div>
    <div class="header-cell">Main gun caliber</div>
    <div class="header-cell">Has multiple guns</div>
    <div class="header-cell">Has auxiliary weapons</div>
    <div class="header-cell">rank (BR)</div>
    <div class="header-cell">tracks or wheels</div>
    <div class="header-cell">mass</div>
    <div class="header-cell">techtree / premium / squadron</div>
</div>